NODE_ENV=
TOKEN=
LOG_LEVEL=
CLIENT_ID=
GUILD_ID=
CLOSE_CMD_PERMISSION_ROLE_IDS=
BOT_DEV_ROLE_ID=
MOD_ROLE_ID=
MODPING_ROLE_ID=
MODPING_WEST_AMERICAS_ROLE_ID=
MODPING_EAST_AMERICAS_ROLE_ID=
MODPING_EUROPE_AFRICA_ROLE_ID=
MODPING_MIDDLE_EAST_INDIA_ROLE_ID=
MODPING_ASIA_PACIFIC_ROLE_ID=
BOT_LOG_CHANNEL_ID=
GIFTCODES_CHANNEL_IDS=
CLOSE_CHANNEL_IDS=
GR_CHANNEL_ID=
BUGREPORT_CHANNEL_ID=
ANNOUNCEMENTS_CHANNEL_IDS=
